{% extends "layout.twig" %}

{% block content %}
    <div class="row">
        <div class="small-12 medium-7 large-8 columns">
            {% block blog_index_content %}
                {% block blog_index_posts %}
                    {% for post in posts %}
                        {% block blog_index_post %}{% endblock %}
                    {% endfor %}
                {% endblock %}
            {% endblock %}
        </div>
        <div class="small-12 medium-5 large-4 columns">
            {% block blog_index_sidebar %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
