{% extends "layout.twig" %}

{% block content %}
    <div class="column row">
        <h2>`index.twig` not found</h2>
        <p>Seems like you should define an `index.twig` file or set a page or the blog as front page.</p>
    </div>
{% endblock %}
